.bgr {
  background-color: #e7edf3;
  background-size: auto 33.3334%;
  background-position-x: right 66.66664%;
}
.choos {
  padding: 117px 0 138px 0;
  &__title {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(57, 75, 80);
    text-transform: uppercase;
    line-height: 0.7;
    text-align: center;
    font-weight: 700;
  }
  &__subtitle {
    font-size: 16px;
    font-family: "Lato";
    color: rgb(57, 75, 80);
    line-height: 0.7;
    text-align: center;
    font-weight: 200;
    margin: 10px 0 79px 0;
  }
  &__slide {
    display: flex;
    justify-content: center;
  }
  &__dollar {
    display: flex;
    justify-content: center;
  }
  &__icon {
    font-size: 30px;
    font-family: "Lato";
    color: rgb(255, 187, 66);
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: super;
    line-height: 0.4;
    text-align: center;
    &_blue {
      font-size: 30px;
      font-family: "Lato";
      color: rgb(255, 255, 255);
      text-transform: uppercase;
      vertical-align: super;
      line-height: 0.4;
      text-align: center;
    }
  }
  &__number {
    font-size: 60px;
    font-family: "Lato";
    color: rgb(255, 187, 66);
    font-weight: bold;
    line-height: 0.4;
    text-align: center;
    margin-bottom: 10px;
    &_blue {
      font-size: 60px;
      font-family: "Lato";
      color: rgb(255, 255, 255);
      text-transform: uppercase;
      vertical-align: super;
      line-height: 0.4;
      text-align: center;
      margin-bottom: 10px;
    }
  }
  &__slideCard {
    width: 388px;
    height: 442px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #ccd5df;
    border-radius: 3px;
    background-color: #fff;

    ul {
      text-align: center;
    }
    li {
      font-size: 14px;
      font-family: "Lato";
      color: rgb(181, 187, 193);
      text-transform: uppercase;
      line-height: 2.9;
      text-align: center;
      &:first-child {
        margin-bottom: 29px;
      }
      &:nth-child(2) {
        border-bottom: 2px solid #e2e9f0;
        border-top: 2px solid #e2e9f0;
        padding: 5px 110px;
      }
      &:nth-child(3) {
        border-bottom: 2px solid #e2e9f0;
        padding: 5px 110px;
      }
    }
    h3 {
      font-size: 25px;
      font-family: "Lato";
      color: rgb(129, 139, 149);
      text-transform: uppercase;
      line-height: 0.9;
      text-align: center;
      margin-bottom: 30px;
    }
    a {
      text-decoration: none;
      margin-top: 25px;
      font-size: 14px;
      font-family: "Lato";
      color: rgb(255, 255, 255);
      text-transform: uppercase;
      text-align: center;
      border: 1px solid #ffbb42;
      border-radius: 3px;
      padding: 17px 22px;
      background-color: #ffbb42;
      &:hover {
        cursor: pointer;
        background-color: #bc8a30;
        border: 1px solid #bc8a30;
      }
    }
    &_middle {
      width: 388px;
      height: 500px;
      background-color: #709dca;
      border-radius: 3px;
      margin-bottom: 30px;
      border: none;
      h3 {
        font-size: 25px;
        font-family: "Lato";
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        line-height: 0.8;
        text-align: center;
      }
      li {
        font-size: 14px;
        font-family: "Lato";
        color: #fff;
        text-transform: uppercase;
        line-height: 2.963;
        text-align: center;
        &:nth-child(2) {
          border-bottom: 2px solid #8eb8e2;
          border-top: 2px solid #8eb8e2;
          padding: 5px 110px;
        }
        &:nth-child(3) {
          border-bottom: 2px solid #8eb8e2;
          padding: 5px 110px;
        }
      }
      a {
        margin-top: 25px;
        font-size: 14px;
        font-family: "Lato";
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        text-align: center;
        border: 1px solid #ffbb42;
        border-radius: 3px;
        padding: 17px 22px;
        background-color: #ffbb42;
        &:hover {
          cursor: pointer;
          background-color: #bc8a30;
          border: 1px solid #bc8a30;
        }
      }
    }
    &_brL {
      border-left: none;
    }
    &_brR {
      border-right: none;
    }
  }
}
