@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@700&display=swap");

@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/transfonter.org-20220305-093022/MyriadPro-Regular.woff")
      format("woff"),
    url("../fonts/transfonter.org-20220305-093022/MyriadPro-Regular.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
