@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@700&display=swap");

@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MYRIADPRO-REGULAR.OTF");
}

body {
  overflow-x: hidden;
  // scroll-behavior: smooth;
}
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 auto;
}
// шапка с навигацией
header {
  background-color: #fff;
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 5;
  // max-width: ;
}
.navbar {
  display: flex;
  padding: 22px 0px;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }
  &__img {
    img {
      @media (max-width: 767px) {
        width: 150px;
        height: 148px;
        padding-top: 30px;
      }
    }
    @media (max-width: 391px) {
      width: 100px;
      height: 98px;
      padding-top: 30px;
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    a {
      text-decoration: none;
      color: #868686;
    }
    @media (max-width: 767px) {
      width: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 120px 0 0 0;
    }
  }
  &__element {
    font-size: 14px;
    font-family: "Lato";
    text-transform: uppercase;
    line-height: 1.2;
    padding: 10px 14px;

    &:hover {
      border-color: 2px solid #ffbb42;
      background-color: #ffbb42;
      border-radius: 3px;
      cursor: pointer;
      color: #fff;
    }
    @media (max-width: 767px) {
      font-size: 50px;
      font-family: "Lato";
      color: #868686;
      line-height: 2;
      &:hover {
        border-color: 2px solid #ffbb42;
        background-color: #ffbb42;
        border-radius: 3px;
        cursor: pointer;
        color: #fff;
      }
    }
    @media (max-width: 391px) {
      font-size: 30px;
      font-family: "Lato";
      color: #868686;
      line-height: 2;
      &:hover {
        border-color: 2px solid #ffbb42;
        background-color: #ffbb42;
        border-radius: 3px;
        cursor: pointer;
        color: #fff;
      }
    }
  }
}

// формы----------------------------------------------------------
.form {
  background-color: #709dca;
  display: flex;
  justify-content: center;
  input {
    padding-left: 45px;
    font-size: 15px;
    font-family: "OpenSans";
    color: rgb(169, 169, 169);
    line-height: 1.2;
    text-align: left;
  }
  &__main {
    margin-top: 110px;
    justify-content: space-around;
    h1 {
      text-align: center;
      font-size: 35px;
      font-family: "Myriad Pro";
      color: rgb(255, 255, 255);
      text-transform: uppercase;
      line-height: 0.686;
    }
    p {
      padding: 10px 0 26px 0;
      font-size: 16px;
      font-family: "Myriad Pro";
      color: rgb(255, 255, 255);
      line-height: 0.686;
      text-align: center;
      font-weight: 200;
    }
  }
  &__fields {
    form {
      display: flex;
      justify-content: space-between;
      width: 1095px;
      margin-bottom: 67px;
    }
  }
  &__input {
    border: none;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    width: 241px;
    height: 46px;

    &_1 {
      background-image: url("../images/form/formImg-01.png");
      background-repeat: no-repeat;
      background-position: 14px;
    }
    &_2 {
      background-image: url("../images/form/formImg-02.png");
      background-repeat: no-repeat;
      background-position: 14px;
    }
    &_3 {
      background-image: url("../images/form/formImg-03.png");
      background-repeat: no-repeat;
      background-position: 14px;
    }
    &:focus {
      outline: none;
      box-shadow: 1 1 5px rgb(75, 75, 75);
      // background-image: none;
    }
  }
  &__button {
    border: 1px solid rgb(255, 187, 66);
    border-radius: 2px;
    background-color: rgb(255, 187, 66);
    width: 211px;
    height: 48px;
    color: #fff;
    font-size: 14px;
    font-family: "Myriad Pro";
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    &:hover {
      cursor: pointer;
      background-color: #c49034;
      border: 1px solid #c49034;
    }
  }
  &__image {
    display: flex;
    justify-content: center;
    position: relative;
    height: 284px;
    // &::after {
    //   content: "";
    //   border: 3px solid red;
    //   border-radius: 50%;
    //   height: 4px;
    //   width: 4px;
    //   bottom: -40px;
    // }
  }
  &__imageLapTop {
    position: absolute;
    &::after {
      content: "";
      border: 3px solid red;
      border-radius: 50%;
      height: 4px;
      width: 4px;
      margin-bottom: 20px;
    }
  }
  &__imagePeople {
    position: absolute;
    z-index: 1;
    top: 18px;
  }
}
// .box {
//   height: 206px;
//   display: block;
//   background-color: #fff;
//   flex-shrink: 10;
// }

// _______________________________________________________________________
.service {
  margin-top: 200px;
  display: flex;
  &__title {
    font-size: 30px;
    font-family: "Myriad Pro";
    color: rgb(57, 75, 80);
    text-transform: uppercase;
    line-height: 1.5;
    text-align: center;
  }
  &__subtitle {
    font-size: 16px;
    font-family: "Myriad Pro";
    color: rgb(57, 75, 80);
    text-align: center;
  }
  &__benefit {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 90px;
  }
  &__columnLeft {
    width: 50%;
  }
  &__columnRight {
    width: 50%;
  }
  &__element {
    display: flex;
    justify-content: space-between;
    width: 470px;
    &:nth-child(2) {
      margin: 66px 0;
    }
    &:nth-child(5) {
      margin: 66px 0;
    }

    h3 {
      font-size: 16px;
      font-family: "Lato";
      color: rgb(57, 75, 80);
      font-weight: 400;
      text-transform: uppercase;
      text-align: left;
    }
    p {
      font-size: 14px;
      font-family: "OpenSans";
      color: rgb(123, 123, 123);
      line-height: 1.692;
      margin-top: 21px;
    }
  }
  &__text {
    max-width: 384px;
  }
}
// _______________________________________________

.about {
  display: flex;
  position: relative;
  margin-top: 155px;
  justify-content: space-between;
  &__img {
    img {
      width: 50%;
      position: absolute;
      // bottom: 10px;
      max-width: 684px;
      max-height: 502px;
      @media (max-width: 767px) {
        display: none;
      }
    }
  }
  &__bg {
    background-color: #ffc155;
    height: 500px;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
  }
  &__text {
    // width: 50%;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 500px;
    h3 {
      font-size: 30px;
      font-family: "Lato";
      color: rgb(255, 255, 255);
      text-transform: uppercase;
      line-height: 0.733;
      text-align: left;
      margin-bottom: 20px;
    }
    p {
      font-size: 13px;
      font-family: "Myriad Pro";
      color: rgb(255, 255, 255);
      line-height: 1.846;
      margin-bottom: 60px;
    }
    a {
      text-decoration: none;
      padding: 16px 32px;
      border: 3px solid #e7ad48;
      border-radius: 3px;
      font-size: 14px;
      font-family: "Lato";
      color: rgb(255, 255, 255);
      text-transform: uppercase;
      line-height: 1.2;
    }
  }
}
// ______________________________________________________________
.bgr {
  background-color: #e7edf3;
  background-size: auto 33.3334%;
  background-position-x: right 66.66664%;
}
.choos {
  padding: 117px 0 138px 0;
  &__title {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(57, 75, 80);
    text-transform: uppercase;
    line-height: 0.733;
    text-align: center;
    font-weight: 700;
  }
  &__subtitle {
    font-size: 16px;
    font-family: "Lato";
    color: rgb(57, 75, 80);
    line-height: 0.733;
    text-align: center;
    font-weight: 200;
    margin: 10px 0 79px 0;
  }
  &__slide {
    display: flex;
    justify-content: center;
  }
  &__dollar {
    display: flex;
    justify-content: center;
  }
  &__icon {
    font-size: 30px;
    font-family: "Lato";
    color: rgb(255, 187, 66);
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: super;
    line-height: 0.367;
    text-align: center;
    &_blue {
      font-size: 30px;
      font-family: "Lato";
      color: rgb(255, 255, 255);
      text-transform: uppercase;
      vertical-align: super;
      line-height: 0.367;
      text-align: center;
    }
  }
  &__number {
    font-size: 60px;
    font-family: "Lato";
    color: rgb(255, 187, 66);
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: super;
    line-height: 0.367;
    text-align: center;
    margin-bottom: 10px;
    &_blue {
      font-size: 60px;
      font-family: "Lato";
      color: rgb(255, 255, 255);
      text-transform: uppercase;
      vertical-align: super;
      line-height: 0.367;
      text-align: center;
      margin-bottom: 10px;
    }
  }
  &__slideCard {
    width: 388px;
    height: 442px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #ccd5df;
    border-radius: 3px;
    background-color: #fff;

    ul {
      text-align: center;
    }
    li {
      font-size: 13.5px;
      font-family: "Lato";
      color: rgb(181, 187, 193);
      text-transform: uppercase;
      line-height: 2.963;
      text-align: center;
      &:first-child {
        margin-bottom: 29px;
      }
      &:nth-child(2) {
        border-bottom: 2px solid #e2e9f0;
        border-top: 2px solid #e2e9f0;
        padding: 5px 110px;
      }
      &:nth-child(3) {
        border-bottom: 2px solid #e2e9f0;
        padding: 5px 110px;
      }
    }
    h3 {
      font-size: 25px;
      font-family: "Lato";
      color: rgb(129, 139, 149);
      text-transform: uppercase;
      line-height: 0.88;
      text-align: center;
      margin-bottom: 30px;
    }
    a {
      text-decoration: none;
      margin-top: 25px;
      font-size: 14px;
      font-family: "Lato";
      color: rgb(255, 255, 255);
      text-transform: uppercase;
      text-align: center;
      border: 1px solid #ffbb42;
      border-radius: 3px;
      padding: 17px 22px;
      background-color: #ffbb42;
      &:hover {
        cursor: pointer;
        background-color: #bc8a30;
        border: 1px solid #bc8a30;
      }
    }
    &_middle {
      width: 388px;
      height: 500px;
      background-color: #709dca;
      border-radius: 3px;
      margin-top: -30px;
      border: none;
      h3 {
        font-size: 25px;
        font-family: "Lato";
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        line-height: 0.88;
        text-align: center;
      }
      li {
        font-size: 13.5px;
        font-family: "Lato";
        color: #fff;
        text-transform: uppercase;
        line-height: 2.963;
        text-align: center;
        &:nth-child(2) {
          border-bottom: 2px solid #8eb8e2;
          border-top: 2px solid #8eb8e2;
          padding: 5px 110px;
        }
        &:nth-child(3) {
          border-bottom: 2px solid #8eb8e2;
          padding: 5px 110px;
        }
      }
      a {
        margin-top: 25px;
        font-size: 14px;
        font-family: "Lato";
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        text-align: center;
        border: 1px solid #ffbb42;
        border-radius: 3px;
        padding: 17px 22px;
        background-color: #ffbb42;
        &:hover {
          cursor: pointer;
          background-color: #bc8a30;
          border: 1px solid #bc8a30;
        }
      }
    }
    &_brL {
      border-left: none;
    }
    &_brR {
      border-right: none;
    }
  }
}
// ____________________________________________________________________________________
.works {
  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 155px 0 115px 0;
  }
  &__title {
    font-size: 30px;
    font-family: "Lato";
    color: rgb(57, 75, 80);
    text-transform: uppercase;
    line-height: 0.733;
    text-align: center;
    font-weight: 900;
  }
  &__subtitle {
    font-size: 15px;
    font-family: "Lato";
    color: rgb(57, 75, 80);
    line-height: 0.733;
    text-align: center;
    margin-top: 10px;
  }
  &__steps {
    display: flex;
    // justify-content: space-between;
  }
  &__step {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
    img {
      padding-top: 35px;
    }
    p {
      text-align: center;
      font-size: 13px;
      font-family: "OpenSans";
      color: rgb(123, 123, 123);
      line-height: 1.692;
      text-align: center;
    }
    h4 {
      margin: 99px 0 30px 0;
      font-size: 20px;
      font-family: "Lato";
      color: rgb(57, 75, 80);
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  &__arrowTop {
    img {
      max-width: 117px;
      max-height: 48px;
      padding-top: -25px;
    }
  }
  &__arrowBottom {
    img {
      max-width: 117px;
      max-height: 48px;
      padding-top: 115px;
    }
  }
  &__button {
    display: flex;
    justify-content: center;
    margin: 91px 0 150px 0;

    a {
      text-decoration: none;
      font-size: 14px;
      font-family: "Lato";
      color: rgb(255, 255, 255);
      text-transform: uppercase;
      text-align: center;
      border: 1px solid #ffbb42;
      border-radius: 3px;
      padding: 18px 30px;
      background-color: #ffbb42;
      cursor: pointer;
      &:hover {
        background-color: #b9862c;
        border: 1px solid #b9862c;
      }
    }
  }
}
// _________________________________________________________________________________________________________
.clients {
  background-color: #ffc155;
  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 141px 0 60px 0;
  }
  &__title {
    font-size: 30px;
    font-family: "Lato";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 0.733;
    font-weight: 900;
  }
  &__subtitle {
    font-size: 15px;
    font-family: "Lato";
    color: rgb(255, 255, 255);
    line-height: 0.733;
    margin-top: 10px;
    font-weight: 300;
  }
  &__wripper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 500px;
    padding-bottom: 140px;
  }
  &__cards {
    max-width: 560px;
    background-color: #fff;
    border-radius: 2px;
    margin-bottom: 20px;
  }
  &__container {
    display: flex;
    padding: 40px 45px 45px 25px;
  }
  &__cardText {
    // display: flex;
    p {
      font-size: 12px;
      font-family: "Myriad Pro";
      color: rgb(123, 123, 123);
      line-height: 1.692;
    }
  }
  &__pointL {
    padding-right: 10px;
  }
  &__pointR {
    margin-left: 40px;
  }
  &__img {
    padding-right: 10px;
  }
  &__autor {
    margin-top: 10px;
    font-size: 14px;
    font-family: "Myriad Pro";
    color: rgb(246, 119, 44);
    text-transform: uppercase;
  }
  span {
    color: #a7b4b9;
  }
}
// ___________________________________________________________________________________________________
.newsLetter {
  &__text {
    margin: 153px 0 43px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    font-size: 30px;
    font-family: "Lato";
    color: rgb(57, 75, 80);
    text-transform: uppercase;
    line-height: 0.733;
    font-weight: 900;
  }
  &__subtitle {
    font-size: 15px;
    font-family: "Lato";
    color: rgb(57, 75, 80);
    line-height: 0.733;
    font-weight: 300;
    margin-top: 10px;
  }
  &__form {
    display: flex;
    justify-content: center;
    margin: 50px;
    input {
      padding-left: 45px;
      font-size: 15px;
      font-family: "OpenSans";
      color: rgb(169, 169, 169);
    }
  }
  &__input {
    border: 1px solid #cbcbcb;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    height: 46px;
    &_name {
      background-image: url("../images/newLetter/formImg-01.png");
      background-repeat: no-repeat;
      background-position: 14px;
      width: 308px;
    }
    &_address {
      background-image: url("../images/newLetter/formImg-02.png");
      background-repeat: no-repeat;
      background-position: 14px;
      width: 386px;
      margin: 0 11px;
    }
  }
  &__map {
    background-image: url("../images/newLetter/map.jpg");
    background-repeat: no-repeat;
    height: 553px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e3e7ec;
    padding: 70px 300px 0 300px;
  }

  &__circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/newLetter/circle.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position: top 50px;
    padding-top: 60px;
    width: 100%;
    height: 100%;
  }
  &__address {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h4 {
      font-size: 15px;
      font-family: "Lato";
      color: rgb(255, 255, 255);
      font-weight: bold;
      text-transform: uppercase;
      line-height: 2;
      font-weight: 700;
    }
    p {
      font-size: 15px;
      font-family: "Lato";
      color: rgb(255, 255, 255);
      line-height: 1.8;
    }
    span {
      font-size: 15px;
      font-family: "Lato";
      color: #ca9d46;
      line-height: 1.8;
    }
  }
  &__img {
    margin-top: 85px;
  }
}
// __________________________________________________________________________________
.pipka {
  margin-bottom: 300px;
}
